body {
  background-color: #0077b6;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  flex-direction: column;
}

body.switching {
  background-color: #3ABE5F;
}

.container {
  background-color: #f1f1f1;
  text-align: left;;
  border-radius: .75em;
  padding: 1em 1.5em;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 4em;
}


header a, header a:visited {
  color: white;
}

h1 {
  max-width: 1000px;
  color: white;
}

.container h2 {
  margin: 0;
  font-variation-settings: "ital" 0, "wdth" 90, "wght" 800;
  font-size: 2.5em;
  text-align: left;
}

h3 {
  font-size: 1.5em;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
}

h4 {
  font-size: 1.5em;
  color: #7E7E7E;
  margin: 0;
  font-variation-settings: "ital" 0, "wdth" 80, "wght" 600;
}

p {
  font-size: 1.125em;
  color: #272727;
}

a, a:visited {
  color:#0077b6;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
}

a:active, a:visited:active {
  text-decoration: underline;
}

.event {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}
.event:hover {
  background-color: #e7e7e7;
}


.topic-list {
    list-style: none; /* Remove default bullet points */
    padding: 0;
  }

  .topic-header {
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Subtle separator */
    padding: 10px;
    margin: 0;
    color: #3b3b3b;
    transition: all .2s ease-in-out; /* Smooth transitions for active class */
  
  }
  .topic-header:hover {
      background-color: #ddd;
  }

  li:last-of-type .topic-header {
    border: none;
  }
  
  
  .topic-content {
    display: none; /* Initially hidden */
    overflow: hidden;
    padding: 1em;
    height: 0;  /* Initial state: collapsed */ /* Use max-height to enable transitions */
}
  
  .topic-content p {
    margin: 1em 0;
  }

  .topic-content p:first-of-type {
    margin-top: 0;
  }

  .topic-list .active .topic-content {
      height: auto; /* Adjust max-height to ensure smooth transition */
      display: block;
  }
  
  
  .topic-list .active {
      background-color: #ddd;
  }

  .chevron {
    transition: transform 0.3s ease;
    display: inline-block;
  }
  
  .topic-list .active .chevron {
    transform: rotate(90deg); /* Rotate the chevron */
    transform-origin: center center;
  }
  
  quote {
    width: 80%;
    padding: .5em;
    display: block;
    border: 1px solid #3498db;
  }

  quote + quote {
    margin-top: 1em;
  }

  button {
    position: relative;
    margin-bottom: 1em;
    display: block;
    background-color: #3ABE5F;  /* Light blue */
    color: white;
    border: none;
    padding: .75em 1.5em;
    font-family: pf-grand-gothik-variable, sans-serif;
    font-variation-settings: "ital" 0, "wdth" 60, "wght" 600;
    font-size: 2em;
    border-radius: .875em;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px #167A32; /* Darker blue */
    transition: all 0.2s ease;
  }
  
  button.cta:hover {
    background-color: #309c4f;
    box-shadow: 0 10px #167A32; /* Darker blue */
  }
  
  @media only screen and (max-width: 700px) {
    body {font-size: 12px;}
    p, a, a:visited {font-size: 16px; line-height: 22px; }
    h1 {font-size: 3em;}
    .container h2 { font-size: 2.5em; }
    }

    body.trombone {
      background-color: #3b0a63;
    }

    iframe {
      background-color: white;
      border-radius: 0.5em;
      padding: 1em;
      min-height: 400px;
      max-width:600px;
    }